.grid-container {
  /* сделали контейнер grid*/
  display: grid;
  gap: 5px; /* пространство между контейнерами*/
  grid-template-columns: 1fr 2fr 1fr; /*1fr равен одному "кусочку", если в схеме их несколько фреймы равны между собой */
  grid-auto-rows: 60px; /* задаем высоту каждого ряда*/
}

.grid-item {
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}
.grid-container-adaptive {
  display: grid;
  /*grid-template-columns: repeat(3,1fr); - передаем количество колонок и их размер*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
  /* gap: 5px 20px; -  первое число - горизонтальный, второе - вертикальный gap*/
  grid-auto-rows: 80px;
}

.grid-item-adaptive {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue; */
    background-image: url('https://assets.science.nasa.gov/dynamicimage/assets/science/astro/universe/internal_resources/402/Carina_Nebula-1.jpeg?w=4096&format=jpeg&fit=clip&crop=faces%2Cfocalpoint');
    background-size: cover;
    background-position: center;
  }

.yellow-card {
  background-color: rgb(223, 133, 15);
}

h4 {
  margin: 0;
}

.img-container {
  background-image: url("https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg");
  
}
