@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body { /*все эти настройки скопировали на сайте из Raleway: CSS class for a variable style  */
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header{
    height: 400px;
    background-image: url("./images/Coffee.jpg");
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat; /*отменяем повтор картинок в высоту, если высота превышает высоту картинки*/
}

h1{ 
    /* настройка шрифта заголовка*/
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; /* центрируем текст по центру заголовка*/
    font-size: 100px ; /* размер шрифта*/
    padding-top: 120px; /* внутренний отступ сверху*/
    /*margin-top: 120px; - внешний отступ сверху */
    color: rgba(3,150,100,.75); /* цвет шрифта*/
}

.main{ /* выбиваем весь div класса main */
    position: relative; /*выбиваем элементы из общего потока и оставляет на том же месте */
}

/* top, left, right, bottom */
.left, .right { /* двигаем относительно main */
    position: absolute; /*все элементы встали в левый верхний угол: 3 от left и 3 от right*/
    width: 48%; /* занимают чуть меньше половины экрана*/
    top: 15px; /* отодвигаемся от картинки (от верхнего края родительского элемента) */
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}